@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
body{
  font-family:sans-serif;
}

.search-bar{
  border: solid 1px #ccc;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  margin: 100px auto;
}

.search-bar:focus-within{
  border: solid 1px purple;
  box-shadow: 5px 10px 5px rgba(35,35, 36, 0.2);
}

.search-bar input{
  border: none;
  outline: none;
  pad: 10px;
  font-size: 18px;
  flex: auto;

}

.search-bar .actions{
  display: flex;
  gap: 6px;
}

.search-bar .actions button{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #999;
}

.search-bar .actions button:hover{
  color: rebeccapurple;

}