.header{
    height: 20em;   
    background-color: cover;
    background-image:  ;
    background-size: cover;
    background-position: center;
}


body{font-family:'LucidaSans','LucidaSansRegular','LucidaGrande','LucidaSansUnicode',Geneva,Verdana,sans-serif;}

.header{
    height:10em;
    padding:5em;
    font-size:2em;
    background-image:repeating-radial-gradient();
    background-size:cover;
    background-position:center;
}

.header h1{
    margin:0px;
    font-weight: 400;
}

.products{
    width: 80%;
    margin: auto;

}

.products td{
    width: 50%;
    padding: 2em;
    background-position: center;
}

.products img{
    width: 100%;
    border: solid 4px green;
}

.footer{
    height: 3em;
    line-height: 3em;
    background-color: yellowgreen;
    color: white;
    text-align: center;
    font-weight: ;
}

.products td:hover{
    background-color: yellowgreen;
}
